body{
  background-color:#1F1F1F;
}

.animated{
  position: fixed;
  top: 30vh;
  left: 40vw;
  height: 20vw;
  width:  20vw;
  background-color:#1F1F1F;
  animation: darkshape linear 10s infinite;
}

.btn{
  position: fixed;
  z-index: 1;
  float: right;
  margin: 1em;
  width: 4em;
  height: 4em;
}

#canvas{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#slider{
  z-index: 4;
  position: fixed;
  top: 95vh;
  left: 5vw;
  width: 90vw;
  height: 2vh;
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px black;
  
}